# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Projeto_3D_2021.2.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\claud\Documents\Unity Projects\Projeto3D_2021.2\Projeto_3D_2021.2\.idea\.idea.Projeto_3D_2021.2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
